body, html {
    height: 200%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    background-image: url("../assets/wallpaper.jfif");
    min-height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 400px;
    padding: 20px;
    background-color: burlywood;
    height: 350px;
 
    
  }
h1{
    text-align: center;
}
  
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: pink;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: pink;
    outline: none;
  }
  
  .btn {
    background-color: green;
    color:black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  h2{
      margin: auto 50px;
    padding-top: 120px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 30px;
      color: gold;
      font-weight: bolders;
  }
  h3{
    margin: auto 50px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:whitesmoke;
    font-weight: bolder;
}