
<div class="bg-img">
 
  <form action="/action_page.php" class="container">
    <h1>My Login Page</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
  <h2>I'am Dariel Gie Badiila</h2>
  <h3>a Information Technology student form EVSU-CC</h3>
  <h3>Here is my one of my portfolio or project in our school</h3>
</div>